/backend/               @abhinav7289A
/mobile/                @manish-01882

/contracts/             @abhinav7289A @manish-01882
/backend/migrations/    @abhinav7289A @manish-01882
/.github/               @abhinav7289A @manish-01882